@model BaliTree.Models.StockItems.CreateVM

<div id="homesubtitle">
    <h2>Create New Stock Item</h2>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StockItem.ItemName" class="control-label"></label>
                <input asp-for="StockItem.ItemName" class="form-control" />
                <span asp-validation-for="StockItem.ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockItem.Date" class="control-label"></label>
                <input asp-for="StockItem.Date" class="form-control" />
                <span asp-validation-for="StockItem.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockItem.CostPrice" class="control-label"></label>
                <input asp-for="StockItem.CostPrice" class="form-control" />
                <span asp-validation-for="StockItem.CostPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockItem.InStock" class="control-label"></label>
                <input asp-for="StockItem.InStock" class="form-control"/>
                <span asp-validation-for="StockItem.InStock" class="text-danger"></span>
            </div>

            <div class="form-group"> 
                <label asp-for="TypeId" class="control-label">Item Type</label>
                <select asp-for="TypeId" asp-items="@(new SelectList(Model.AllTypes, "Id", "TypeName"))" class="form-control"></select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
            <div>
                <a asp-controller="StockTypes" asp-action="Create">Create New Stock Type</a>
            </div>
             <div>
                 <label></label>
             </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
